@media (min-width: 576px) {
  .row {
    margin-bottom: 40%;
  }
}

@media (min-width: 768px) {
  .col {
    margin-top: 0%;
  }
}

@media (min-width: 576px) {
  .col#BMB {
    margin-top: 100%;
  }
}

@media (min-width: 576px) {
  #BMB-block {
    height: 300px;
  }
}

.d-xl-flex.justify-content-xl-center {
  margin-top: 0%;
}

.d-xl-flex.justify-content-xl-center {
  margin-top: -40%;
}

@media (min-width: 576px) {
  #wawdt {
    margin-top: -30%;
  }
}

@media (min-width: 1200px) {
  #wawdt {
    margin-top: -20%;
  }
}

@media (min-width: 992px) {
  #wawdt {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 768px) {
  p {
    text-align: left;
    font-size: 20px;
    margin-left: 5%;
    width: 80%;
  }
}

@media (max-width: 576px) {
  p {
    text-align: center;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 768px) {
  h2 {
    text-align: left;
    margin-left: 5%;
  }
}

@media (max-width: 576px) {
  h2 {
    text-align: center;
  }
}

.h1, h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .h1, h1 {
    text-align: left;
    margin-left: 5%;
  }
}

.btn-div {
  text-align: center;
}

@media (min-width: 768px) {
  .btn-div {
    text-align: left;
    margin-left: 5%;
  }
}

.text-div {
  margin-top: 20%;
}

@media (max-width: 600px) {
  #loc-pic {
    display: none;
  }
}

@media (min-width: 768px) {
  #BMB-block {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  #loc-pic {
    margin-top: -10%;
  }
}

#top-block {
  margin-top: 10%;
}

@media (min-width: 768px) {
  #beta1 {
    justify-content: left;
    margin-bottom: 2%;
  }
}

@media (max-width: 700px) {
  #beta1 {
    justify-content: center;
    margin-bottom: 2%;
  }
}

#email1 {
  margin-right: 8px;
}

@media (min-width: 600px) {
  #email1 {
    margin-bottom: 8px;
  }
}

@media (min-width: 992px) {
  #email1 {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  #research {
    margin-left: 10%;
  }
}

#wysju {
  text-align: center;
  margin-left: 0;
}

#article-div {
  text-align: center;
}

#h1-research {
  margin-left: 0;
  margin-top: 7%;
}

#byline {
  margin-left: 10%;
  margin-right: 5%;
}

#vid-div {
  margin-top: 7%;
}

#h1-research {
  margin-left: 5%;
  margin-right: 5%;
}

#vid-research {
  width: 100%;
  height: auto;
}

iframe {
  width: 280px;
  height: 157px;
}

@media (min-width: 576px) {
  iframe {
    width: 560px;
    height: 325px;
  }
}

.link {
  color: rgb(192,80,90);
}

a {
  color: #c0505a;
  text-decoration: none;
  background-color: transparent;
}

#research-long {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#video-text {
  text-align: center;
  margin-left: 10%;
}

@media (min-width: 992px) {
  #research-long {
    padding-right: 15%;
    padding-left: 15%;
  }
}

#hubadl {
  text-align: center;
  margin-top: 7%;
}

#dist-lib-p {
  margin-top: 5%;
  margin-left: 10%;
}

#form-div {
  margin-bottom: 20%;
}

#champion-1 {
  margin-top: 3%;
}

@media (min-width: 992px) {
  #dist-lib-p {
    padding-right: 10%;
    padding-left: 10%;
  }
}

#navcol-1 {
  background-color: #fff;
}

@media (min-width: 600px) {
  #navcol-1 {
    background-color: #ffffff00;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-size: 24px;
  color: #111111;
}

@media (min-width: 576px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: #111111;
  }
}

#essex {
  max-height: 60%;
}

#champion-form {
  align-self: center;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c0505a;
  /*border-color: #005cbf;*/
}

#champion-input {
  margin-right: 8px;
}

#chamption-all {
  align-self: center;
}

#form-all {
  margin-top: 5%;
}

