.landing-section {
  width: 100vw;
  height: 100vh;
  background-color: #024A59;
}

.landing-bck {
  height: inherit;
  margin-top: -20px;
}

.landing-phone-div {
  width: 20vw;
  height: auto;
  margin-top: 20vh;
}

.phone-landing {
  height: inherit;
  width: inherit;
}

.h1, h1 {
  font-size: 3rem;
  font-family: 'lora';
  font-weight: 600;
  color: #f2f2f2;
  margin-top: 20vh;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #ffffff00;
  border-radius: .3rem;
}

.info-text {
  color: #f2f2f2;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 1rem;
}

.form-control.cta-input {
  max-width: 300px;
  border: 2px solid #BF505A;
  border-radius: 4px;
}

.cta-button {
  margin-left: 16px;
  background-color: #BF505A;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #D9145C;
  border-color: #D9145C;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #D9145C;
  border-color: #D9145C;
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

.btn-primary:hover {
  color: #fff;
  background-color: #D9145C;
  border-color: #D9145C;
}

.landing-row {
  margin: 5vw;
  margin-top: 0;
}

.cutout {
  border-right: 100vw solid #f2f2f2;
  border-top: 100px solid transparent;
  margin-top: -100px;
}

.body {
  background-color: #f2f2f2;
}

.landing-img-div {
  width: inherit;
  margin-top: 20vh;
}

.landing-img {
  width: 50%;
}

.h2, h2 {
  font-size: 2rem;
  font-family: 'lora';
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'open sans';
}

.row.benefits-row {
  margin-top: 10vh;
}

.benefits {
  margin-top: 20vh;
}

.key-value-p {
  max-width: 400px;
}

.benefits-2 {
}

.h2, h2 {
  max-width: 400px;
}

.fa.fa-arrow-down.down {
  color: #f2f2f2;
  padding-top: 36px;
}

.how-it-works {
  color: #232323;
}

.illustration {
  width: inherit;
}

.how-desc {
  max-width: 200px;
}

#books {
  margin-bottom: 5vh;
}

#teacup {
  width: 110%;
  margin-left: -36px;
}

.how-col {
  margin-top: 5vh;
}

#back {
  margin-bottom: 40vh;
}

#first {
  margin-top: 40vh;
}

.row.research-row {
  margin: 5vh 5vw 5vh 5vw;
}

.copyright {
  color: #fff;
  font-family: 'lora';
  font-size: 12px;
}

.fill {
  margin-top: -24px;
  height: 36px;
  background-color: #024A59;
}

.library {
  margin-bottom: 40vh;
}

@media (max-width: 576px) {
  .benefits {
    padding-top: 20vh;
  }
}

